@font-face {
    font-family: 'Pretendard-variable';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.AutoRollingNews-Press:hover,
.AutoRollingNews-NewsTitle:hover,
.PositiveButton:hover,
.NegativeButton:hover,
.AllPress:hover,
.SubscribedPress:hover,
.all-text:hover,
.broad-text:hover,
.it-text:hover,
.english-text:hover,
.sports-text:hover,
.magazine-text:hover,
.region-text:hover,
.Main:hover,
li:hover {
  text-decoration: underline;
}

body {
  font-family: "Pretendard-variable";
  margin: 0 auto;
  width: 1280px;
}

.Container {
  position: relative;
  width: 1280px;
  height: 720px;
}
