@font-face {
    font-family: 'Pretendard-variable';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.AutoRollingNews-Press:hover,
.AutoRollingNews-NewsTitle:hover,
.AllPress:hover,
.SubscribedPress:hover,
.Field-chosen:hover,
.all-text:hover,
.broad-text:hover,
.it-text:hover,
.english-text:hover,
.sports-text:hover,
.magazine-text:hover,
.region-tex:hover,
.Main:hover
 {
  text-decoration: underline;
}


body {
  font-family: "Pretendard-variable";
  margin: 0 auto;
  width: 1280px;
}

.Container {
  position: relative;
  width: 1280px;
  height: 720px;
}

.Title {
  position: absolute;
  top: 58px;
  left: 175px;
  display: flex;
  align-items: center; /*수직 가운데 정렬 */
  gap: 8px;
  cursor: pointer;
}

.Title-Icon {
  width: 24px;
  height: 24px;
}

.Title-Text {
  width: 104px;
  height: 29px;
  font-size: 24px;
  line-height: 28.13px;
  color: #14212B;
  font-weight: bold;
}

.TodaysDate {
  position: absolute;
  top: 65px;
  left: 965px;
  width: 140px;
  height: 22px;
  text-align: right;
  font-size: 16px;
  color: #5F6E76;
  line-height: 22px;
}

.Button {
  width: 24px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.LeftButton {
  position: absolute;
  top: 430px;
  left: 104px;
  background: url("./asset/LeftButton.svg") no-repeat center center;
  background-size: cover;
}

.RightButton {
  position: absolute;
  top: 430px;
  left: 1153px;
  background: url("./asset/RightButton.svg") no-repeat center center;
  background-size: cover;
}

.AutoRollingNewsBar {
  position: absolute;
  top: 127px;
  left: 175px;
  width: 930px;
  height: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}

.AutoRollingNews {
  width: auto;
  height: auto;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  border: 1px solid #D2DAE0;
  background-color: #F5F7F9;
}

.AutoRollingNews-Press {
  width: 49px;
  height: 17px;
  font-size: 14px;
  line-height: 16.41px;
  text-overflow: ellipsis;
  color: #14212B;
  font-weight: bold;
  cursor: pointer;
}

.AutoRollingNews-NewsTitle {
  width: 364px;
  height: 17px;
  font-size: 14px;
  line-height: 16.41px;
  text-overflow: ellipsis;
  color: #5F6E76;
  cursor: pointer;
}

.Tab-and-Viewer {
  position: absolute;
  top: 208px;
  left: 175px;
  width: 930px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TapButton {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.AllPress {
  width: 82px;
  Height: 19px;
  font-size: 16px;
  line-height: 18.75px;
  color: #14212B;
  font-weight: bold;
  cursor: pointer;
}

.SubscribedPress {
	width: 119px;
	height: 22px;
	font-size: 16px;
	line-height: 22px;
	color: #879298;
  cursor: pointer;
}

.ViewerButton {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}

.list-view {
  position: relative;
  width: 24px;
  height: 24px;
  border: none;
}

.list-symbol {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  background: url("./asset/list-symbol.svg") no-repeat center center;
  background-size: cover;
  border: none;
  cursor: pointer;
}

.grid-view {
  position: relative;
  width: 24px;
  height: 24px;
}

.grid-symbol {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  background: url("./asset/grid-symbol.svg") no-repeat center center;
  background-size: cover;
  border: none;
  cursor: pointer;
}

.NewsList {
  position: absolute;
  top: 256px;
  left: 175px;
  width: auto;
  height: auto;
}

.FieldTab {
  width: 930px;
  height: 40px;
  border : 1px solid #D2DAE0;
  box-sizing: border-box;
  overflow: hidden;
}

.Field-chosen {
  width: 97.77px;
  height: 17px;
  font-size: 14px;
  line-height: 16.41px;
  color: #FFFFFF;
}

.all {
  float: left;
  width: 166px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #7890E7;
}

.all-text {
  width: auto;
  height: 17px;
  font-size: 14px;
  line-height: 16.41px;
  color: #879298;
}

.all-percentage {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  gap: 2px;
}

.current-all {
  width: 8px;
  height: 14px;
  font-size: 12px;
  line-height: 14.06px;
  color: #FFFFFF;
}

.division {
  width: 4px;
  height: 14px;
  font-size: 12px;
  line-height: 14.06px;
  color: #FFFFFF;
  opacity: 0.7;
}

.all-cnt {
  width: 14px;
  height: 14px;
  font-size: 12px;
  line-height: 14.06px;
  color: #FFFFFF;
  opacity: 0.7;
}

.broad {
  float: left;
  width: auto;
  height: 40px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.broad-text {
  width: auto;
  height: 17px;
  font-size: 14px;
  line-height: 16.41px;
  color: #879298;
}

.broad-percentage {
  width: auto;
  height: auto;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.current-broad {
  width: 8px;
  height: 14px;
  font-size: 12px;
  line-height: 14.06px;
  color: #FFFFFF;
}

.broad-cnt {
  width: 14px;
  height: 14px;
  font-size: 12px;
  line-height: 14.06px;
  color: #FFFFFF;
  opacity: 0.7;
}

.it {
  float: left;
  width: auto;
  height: 40px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.it-text {
  width: auto;
  height: 17px;
  font-size: 14px;
  line-height: 16.41px;
  color: #879298;
}

.it-percentage {
  width: auto;
  height: auto;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.current-it {
  width: 8px;
  height: 14px;
  font-size: 12px;
  line-height: 14.06px;
  color: #FFFFFF;
}

.it-cnt {
  width: 14px;
  height: 14px;
  font-size: 12px;
  line-height: 14.06px;
  color: #FFFFFF;
  opacity: 0.7;
}

.english {
  float: left;
  width: auto;
  height: 40px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.english-text {
  width: auto;
  height: 17px;
  font-size: 14px;
  line-height: 16.41px;
  color: #879298;
}

.english-percentage {
  width: auto;
  height: auto;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.current-english {
  width: 8px;
  height: 14px;
  font-size: 12px;
  line-height: 14.06px;
  color: #FFFFFF;
}

.english-cnt {
  width: 14px;
  height: 14px;
  font-size: 12px;
  line-height: 14.06px;
  color: #FFFFFF;
  opacity: 0.7;
}

.sports {
  float: left;
  width: auto;
  height: 40px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sports-text {
  width: auto;
  height: 17px;
  font-size: 14px;
  line-height: 16.41px;
  color: #879298;
}

.sports-percentage {
  width: auto;
  height: auto;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.current-sports {
  width: 8px;
  height: 14px;
  font-size: 12px;
  line-height: 14.06px;
  color: #FFFFFF;
}

.sports-cnt {
  width: 14px;
  height: 14px;
  font-size: 12px;
  line-height: 14.06px;
  color: #FFFFFF;
  opacity: 0.7;
}

.magazine {
  float: left;
  width: auto;
  height: 40px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.magazine-text {
  width: auto;
  height: 17px;
  font-size: 14px;
  line-height: 16.41px;
  color: #879298;
}

.magazine-percentage {
  width: auto;
  height: auto;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.current-magazine {
  width: 8px;
  height: 14px;
  font-size: 12px;
  line-height: 14.06px;
  color: #FFFFFF;
}

.magazine-cnt {
  width: 14px;
  height: 14px;
  font-size: 12px;
  line-height: 14.06px;
  color: #FFFFFF;
  opacity: 0.7;
}

.region {
  float: left;
  width: auto;
  height: 40px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.region-text {
  width: auto;
  height: 17px;
  font-size: 14px;
  line-height: 16.41px;
  color: #879298;
}

.region-percentage {
  width: auto;
  height: auto;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.current-region {
  width: 8px;
  height: 14px;
  font-size: 12px;
  line-height: 14.06px;
  color: #FFFFFF;
}

.region-cnt {
  width: 14px;
  height: 14px;
  font-size: 12px;
  line-height: 14.06px;
  color: #FFFFFF;
  opacity: 0.7;
}

.PressNews {
  width: 930px;
  height: auto;
  border: 1px solid #D2DAE0;
  padding: 24px;
  box-sizing: border-box;
}

.PressInfo {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 16px 0;
}

.Brandmark {
  width: 51px;
  height: 20px;
}

.EditDate {
  width: 121px;
  height: 14px;
  font-size: 12px;
  line-height: 14.06px;
  color: #5F6E76;
}

.SubscribeButton {
  color: gray;
  width: auto;
  height: 24px;
  border-radius: 50px;
  border: 1px #D2DAE0;
  padding: 0 6px 0 6px;
  gap: 2px;
  background-color: #F5F7F9;
}

.News {
	width: 100px;
  height: auto;
  display: flex;
}

.Main {
  width: 320px;
  height: 260px;
  cursor: pointer;
  margin: 0 32px 0 0;
}

.Thumbnail {
  width: 320px;
  height: 200px;
  border: 1px solid #D2DAE0;
  background: url("./asset/Thumbnail.svg") no-repeat center center;
  background-size: cover;
}

.MainTitle {
  width: 320px;
  height: 44px;
  font-size: 16px;
  line-height: 22px;
  margin: 16px 0;
  color: #14212B;
  font-weight: bold;
}

.Sub {
  width: auto;
  height: auto;
}

.Sub ul {
	margin: 0;
  padding: 0;
}

.Sub li {
	width: 530px;
	height: 22px;
	font-size: 16px;
	line-height: 22px;
	color: #4B5966;
	list-style-type: none;
	margin: 0 0 16px 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.Caption {
  width: 530px;
  height: 17px;
  font-size: 14px;
  line-height: 16.41px;
  color: #879298;
}
